.next
.next-dev.log
.next-dev.err.log
node_modules
.vercel
supabase/.temp
.env
.env.local
.env.production
dist
tsconfig.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.gstack/
